<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.archive_pdf_scraper">

    <application
        android:label="archive_pdf_scraper"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>
</manifest>
